---
import BaseLayout from '../layouts/base.astro'
import Greeting from '../components/islands/greeting.solid';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Hello blog"
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={[
    'tchê', 'bah', 'howdy', 'hello', 'hi', 'hola!', 'oi'
  ]}
/>
  <ul>
    {allPosts.map(post => (
        <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>
</BaseLayout>